@model Northwind.EntityModels.Customer
<div class="row">
    <h1> Contact Details </h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Contact title</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>Postal code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Fax</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model?.CompanyName</td>
                <td>@Model?.ContactName</td>
                <td>@Model?.ContactTitle</td>
                <td>@Model?.Address</td>
                <td>@Model?.City</td>
                <td>@Model?.Region</td>
                <td>@Model?.PostalCode</td>
                <td>@Model?.Country</td>
                <td>@Model?.Phone</td>
                <td>@Model?.Fax</td>
            </tr>
        </tbody>
    </table>
</div>